


<div class="container">
   <%= link_to "new artisle", new_article_path %>
  <div class="row">
    <div class="col-md-8">
      <% @articles.each do |article| %>
        <h3> <%= link_to article.title, article_path(article) %></h3>
        <p><%= article.content %></p>
        <hr>
      <% end %>
    </div>
  </div>
</div>


